@import '../../mixins.scss';

.textPassword {
    display: flex;
    justify-content: space-between;
    p {
        text-decoration: underline;
        margin: 0px !important;
        font-weight: 500;
        cursor: pointer;
        font-size: 15px;
    }
}
.login {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm {
        background-color: #7777771c;
    }


    .container_ {
        width: 100%;
        background-color: white;
        border-radius: 20px;

        @include sm {
            width: 450px;
        }


        .content {
            padding: 30px 40px;
            @include sm {
                box-shadow: 0px 4px 20px 0px rgba(171, 171, 171, 0.155);
            }

            h1 {
                font-family: Inter;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 20px;
            }

            form {
                .div {
                    margin-bottom: 30px;

                    label {
                        display: block;
                        font-weight: 500;


                    }

                    .input_div {
                        position: relative;

                        svg {
                            position: absolute;
                            top: 56%;
                            transform: translateY(-50%);
                            left: 10px;
                            font-size: 15px;
                        }
                        
                        .eye {
                            position: absolute;
                            top: 56%;
                            transform: translateY(-50%);
                            right: 40px;
                            cursor: pointer;
                            transition: 0.5s;

                            svg {
                                transition: 0.5s;
                                color: rgba(159, 159, 159, 1);
                            }
                        }
                    }

                    input {
                        width: 100%;
                        margin-top: 7px;
                        padding: 10px 30px;
                        font-size: 16px;
                        border-radius: 8px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                    }
                }
            }

            button {
                display: block;
                width: 100%;
                padding: 10px;
                background-color: var(--primary);
                color: rgba(255, 255, 255, 1);
                border-radius: 8px;
                border: 1px solid var(--primary);
                transition: 0.5s;
                cursor: pointer;
                font-size: 17px;
                margin-top: 20px;

                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    color: var(--primary);
                }
            }

            .orDiv {
                text-align: center;
                margin-top: 15px;
                font-weight: 400;
                border-bottom: 1px solid #77777735;
                padding-bottom: 15px;
                span {
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .footer {
                text-align: center;
                margin-top: 10px;
                font-weight: 400;
                line-height: 1.5;
                span {
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}