@import '../../mixins.scss';

.newPassword {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sm {
        background-color: #7777771c;
    }
    .container_ {
        width: 100%;
        background-color: white;
        border-radius: 20px;
        @include sm {
            width: 450px;
        }
        .content {
            padding: 30px 40px;
            @include sm {
                box-shadow: 0px 4px 20px 0px rgba(171, 171, 171, 0.155);
            }
            h1 {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 20px;
            }
            form {
                .div {
                    margin-bottom: 20px;

                    label {
                        display: block;
                        font-weight: 500;
                    }

                    .input_div {
                        position: relative;

                        svg {
                            position: absolute;
                            top: 56%;
                            transform: translateY(-50%);
                            left: 10px;
                            font-size: 15px;
                        }

                        .eye {
                            position: absolute;
                            top: 56%;
                            transform: translateY(-50%);
                            right: 40px;
                            cursor: pointer;
                            transition: 0.5s;

                            svg {
                                transition: 0.5s;
                                color: rgba(159, 159, 159, 1);
                            }
                        }
                    }

                    input {
                        width: 100%;
                        margin-top: 7px;
                        padding: 10px 30px;
                        font-size: 16px;
                        border-radius: 8px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.3);

                        &::placeholder {
                            color: rgba(159, 159, 159, 1);
                        }
                    }
                }

                .error {
                    color: red;
                }
            }
            button {
                display: block;
                width: 100%;
                padding: 10px;
                background-color: var(--primary);
                color: rgba(255, 255, 255, 1);
                border-radius: 8px;
                border: 1px solid var(--primary);
                transition: 0.5s;
                cursor: pointer;
                font-size: 17px;
                margin-top: 20px;
                font-weight: 500;
                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    color: var(--primary);
                }
            }
        }
    }
}